<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form_login.Properties.Settings.LPGConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=LPG;User ID=sa;Password=@Emzhran26"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>